h2 {
  margin-top: 45px;
  color: #f0a500;
  text-align: center;
  font-size: 45;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}